[submodule "bunker-gitlab"]
	path = bunker-gitlab
	url = https://ci-git.bean.codes/danny/bunker-firefox-and-chromium-extension/-/tree/app
	branch = app
[submodule "bunker-github"]
	path = bunker-github
	url = bunker-github
